[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "examples/espnow_debug/components/espnow_lcd/iot_lcd/Adafruit-GFX-Library"]
	path = examples/espnow_debug/components/espnow_lcd/iot_lcd/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
