menu "MDF Mdebug"

    config MDEBUG_STORE_HISTORY
        bool "Store command history in flash"
        default n
        help
            Linenoise line editing library provides functions to save and load
            command history. If this option is enabled, initalizes a FAT filesystem
            and uses it to store command history.

    config MDEBUG_PARTITION_LABEL
        string "Store command history partition label"
        default "storage"
        depends on MDEBUG_STORE_HISTORY
        help
            Store command history partition label.

    config MDEBUG_LOG_PARTITION_LABEL
        string "Store log info partition label"
        default "reserved"
        help
            Store log info partition label.

    config MDEBUG_LOG_PARTITION_OFFSET
        int "Offset of the log information partition"
        range 0 524288
        default 0
        help
            Offset of the log information partition

    config MDEBUG_LOG_PACKET_MAX_SIZE
        int "Maximum length of a single packet of data when wirelessly transmitting logs"
        range 236 2378
        default 1188
        help
            Maximum length of a single packet of data when wirelessly transmitting logs

    config MDEBUG_LOG_FILE_MAX_SIZE
        int "Output the save the file size of the log"
        range 8196 131072
        default 32768
        help
            Output the Save the file size of the log

    config MDEBUG_PRINTF_ENABLE
        bool "Output the `printf` information of the mdebug module"
        default n
        help
            Output the `printf` information of the mdebug module

endmenu
