#
# new aliyun sdk IoT Platform
CONFIG_ALIYUN_IOT_NEW_SDK=y
CONFIG_ALIYUN_PLATFORM_MDF=y

#
# MUPGRADE
CONFIG_MUPGRADE_RETRY_COUNT=15

#
# Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# FreeRTOS
CONFIG_TIMER_TASK_STACK_DEPTH=2560
