menu "Example Configuration"

menu "light driver config"
config LIGHT_GPIO_RED
    int "Light red pin GPIO number"
    range 0 33
    default 4
    help
        There are more enumerations like that
        up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
        They are not shown here to reduce redundant information.
        @note GPIO34..39 are input mode only.

config LIGHT_GPIO_GREEN
    int "Light green pin GPIO number"
    range 0 33
    default 16
    help
        There are more enumerations like that
        up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
        They are not shown here to reduce redundant information.
        @note GPIO34..39 are input mode only.

config LIGHT_GPIO_BLUE
    int "Light blue pin GPIO number"
    range 0 33
    default 5
    help
        There are more enumerations like that
        up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
        They are not shown here to reduce redundant information.
        @note GPIO34..39 are input mode only.

config LIGHT_GPIO_COLD
    int "Light cold colors pin GPIO number"
    range 0 33
    default 23
    help
        There are more enumerations like that
        up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
        They are not shown here to reduce redundant information.
        @note GPIO34..39 are input mode only.

config LIGHT_GPIO_WARM
    int "Light warm color pin GPIO number"
    range 0 33
    default 19
    help
        There are more enumerations like that
        up to GPIO39, excluding GPIO20, GPIO24 and GPIO28..31.
        They are not shown here to reduce redundant information.
        @note GPIO34..39 are input mode only.

config LIGHT_FADE_PERIOD_MS
    int "The time from the current color to the next color"
    default 500
    help
        The time from the current color to the next color.

config LIGHT_BLINK_PERIOD_MS
    int "Period of blinking lights"
    default 2000
    help
        Period of blinking lights.
endmenu

config LIGHT_VERSION
    string "Light version"
    default "1.3.1"
    help
        Version of the five-color light

config LIGHT_MEMORY_DEBUG
    bool "Enable memory debugging"
    default n
    help
        Enable memory debugging.

config LIGHT_BLE_GATEWAY
    bool "Enable the BLE gateway on the non-root node"
    default n
    help
        Enabling the BLE gateway on a non-root node,
        enabling the BLE gateway will consume a lot of memory.

config LIGHT_NETWORKING_TIME_OPTIMIZE_ENABLE
    bool "Optimize networking time"
    default n
    help
        1. Set the Bluetooth configuration network device to a fixed root node, eliminating the time of competing for the root node
        2. Once the networking is complete, select again whether there is a better root node.
        3. When power is turned on again, the device that was the root node last time is selected as the root node by default.

config LIGHT_RESTART_COUNT_RESET
    int "Reset the number of times the device has been powered off continuously to enter the configured network mode"
    range 3 10
    default 3
    help
        Reset the number of times the device has been powered off continuously to enter the configured network mode.

config LIGHT_RESTART_COUNT_FALLBACK
    int "Number of times the device restarted abnormally, entered, and exited from the previous version"
    range 15 32
    default 15
    help
        Number of times the device restarted abnormally, entered, and exited from the previous version.

endmenu
