menu "Example Configuration"

    config SENSE_ENABLE_ULP_WAKEUP
        bool "Use ulp as a wakeup stub"
        default y
        help
            This option enables wake up from deep sleep using ULP.
            ULP program monitors the luminance sensor bh1750 and
            wakes up the chip when the luminance goes outside of
            low and upper threshold.

    config SENSE_ULP_READ_INTERVAL
        int "Time interval of ulp read data from sensor (millisecond)"
        default 1000
        range 1 65535
        depends on SENSE_ENABLE_ULP_WAKEUP

    config SENSE_ENABLE_EXT1_WAKEUP
        bool "Use extern interrupt 1 as a wakeup stub"
        default y
        help
            The GPIO EXT1 is GPIO_NUM_34, actually it's WakeUp button in board,
            and when the chip wakes up from EXT1, it will switch to mesh mode.

    config SENSE_ENABLE_TIMER_WAKEUP
        bool "Use timer as a wakeup stub"
        default n

    config SENSE_TIMER_WAKE_UP_INTERVAL
        int "Timer interval of deepsleep (millisecond)"
        default 60000
        range 10000 65535
        depends on SENSE_ENABLE_TIMER_WAKEUP

    config SENSE_LUMINANCE_THRESHOLD_LOW
        int "Low threshold of luminance to trigger (lux)"
        default 200
        range 0 65535

    config SENSE_LUMINANCE_THRESHOLD_UPPER
        int "Upper threshold of luminance to trigger (lux)"
        default 1000
        range 0 65535

    config SENSE_USE_EPAPER_DISPLAY
        bool "Use epaper to display sensor status"
        default n
        
endmenu
