menu "MDF Debug terminal"

config AUTO_CONNECT_TO_DEFAULT_AP
    bool "Auto connnect to default AP when power on"
    default n
    help
        Connect to default AP when power on.
        If disabled, you can use command to connect to AP,
        or use command set channel to receive log without connect to AP.

config SAVE_TO_SDCARD
    bool "Save log&coredump to sdcard"
    default y
    help
        Save log and coredump data that espnow terminal device received to sdcard,
        if there is no sdcard, it should be disabled.

config SHOW_IN_LCD
    bool "Show informations in lcd"
    default y
    help
        Show mesh network informations and devices running status(include numbers
        of error&warning log and coredump) in lcd.

config DEFAULT_ROUTER_SSID
    string "WiFi SSID"
    default "router_ssid"
    depends on AUTO_CONNECT_TO_DEFAULT_AP
    help
        SSID (network name) for the espnow terminal device to connect to.

config DEFAULT_ROUTER_PASSWD
    string "WiFi Password"
    default "router_password"
    depends on AUTO_CONNECT_TO_DEFAULT_AP
    help
        WiFi password (WPA or WPA2) for the espnow terminal device to use.
        Can be left blank if the network has no security set.

config DEFAULT_UART_BAUDRATE
    int "Default UART baudrate for console"
    default 115200
    help
        ESPNOW receiver will print logs from different devices.
        Use high baudrate could reduce the chance of missing logs.

endmenu
