menu "Factory Config"

config MDF_BOOTLOADER_CUSTOMIZATION
    bool "Enable bootloader customization"
    default y
    help
       If you enable this configuration, you can switch the device to the factory mode
       by switching power of device 3 to 10 times (each time within 500ms) consecutively.

config MDF_BOOTLOADER_COUNT_MIN
    int "Min Count of Switching Power"
    default 3
    depends on MDF_BOOTLOADER_CUSTOMIZATION
    help
        Configure min count of switching power to enter customized bootloader

config MDF_BOOTLOADER_COUNT_MAX
    int "Max Count of Switching Power"
    default 10
    depends on MDF_BOOTLOADER_CUSTOMIZATION
    help
        Configure max count of switching power to enter customized bootloader

endmenu
