menu "factory Config"

choice MDF_LOG_LEVEL
    bool "Configure the mesh application layer's log"
    default MDF_LOG_LEVEL_DEBUG
    help
       Specify how much output to see in logs by default.
       Note that this setting limits which log statements
       are compiled into the program. So setting this to, say,
       "Warning" would mean that changing log level to "Debug"
       at runtime will not be possible.

config MDF_LOG_LEVEL_NONE
   bool "No output"
config MDF_LOG_LEVEL_ERROR
   bool "Error"
config MDF_LOG_LEVEL_WARN
   bool "Warning"
config MDF_LOG_LEVEL_INFO
   bool "Info"
config MDF_LOG_LEVEL_DEBUG
   bool "Debug"
config MDF_LOG_LEVEL_VERBOSE
   bool "Verbose"
endchoice

config MDF_LOG_LEVEL
    int
    default 0 if MDF_LOG_LEVEL_NONE
    default 1 if MDF_LOG_LEVEL_ERROR
    default 2 if MDF_LOG_LEVEL_WARN
    default 3 if MDF_LOG_LEVEL_INFO
    default 4 if MDF_LOG_LEVEL_DEBUG
    default 5 if MDF_LOG_LEVEL_VERBOSE

endmenu
