menu "Light bulb config"

choice MDF_LIGHT_TYPE
    bool "Configure the light type"
    default MDF_LIGHT_COREBOARD

config MDF_LIGHT_COREBOARD
   bool "Core Board"
config MDF_LIGHT_COLORED
   bool "Colored light"
endchoice

config MDF_LIGHT_TYPE
    int
    default 0 if MDF_LIGHT_COREBOARD
    default 1 if MDF_LIGHT_COLORED

endmenu
